h1 {
    color:whitesmoke; background-color:#0000ff80; font-size:82px; font-family: 'Times New Roman', Times, serif;
}

li {
    color:black; background-color:antiquewhite; font-size:60px; font-family:'Times New Roman', Times, serif;
}